## Preprocessing

In [34]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [35]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME'], inplace=True)

In [36]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [37]:
# Look at APPLICATION_TYPE value counts for binning
application_df.APPLICATION_TYPE.value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [38]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = [x for x, num in application_df.APPLICATION_TYPE.value_counts().items() if num < 200]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [39]:
# Look at CLASSIFICATION value counts for binning
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [40]:
# You may find it helpful to look at CLASSIFICATION value counts >1
counts = application_df.CLASSIFICATION.value_counts()
valid_counts = counts[counts > 1]
valid_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [41]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = [x for x, num in application_df.CLASSIFICATION.value_counts().items() if num < 1000]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [42]:
# Convert categorical data to numeric with `pd.get_dummies`
converted_df = pd.get_dummies(application_df)
converted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 44 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   STATUS                        34299 non-null  int64
 1   ASK_AMT                       34299 non-null  int64
 2   IS_SUCCESSFUL                 34299 non-null  int64
 3   APPLICATION_TYPE_Other        34299 non-null  uint8
 4   APPLICATION_TYPE_T10          34299 non-null  uint8
 5   APPLICATION_TYPE_T19          34299 non-null  uint8
 6   APPLICATION_TYPE_T3           34299 non-null  uint8
 7   APPLICATION_TYPE_T4           34299 non-null  uint8
 8   APPLICATION_TYPE_T5           34299 non-null  uint8
 9   APPLICATION_TYPE_T6           34299 non-null  uint8
 10  APPLICATION_TYPE_T7           34299 non-null  uint8
 11  APPLICATION_TYPE_T8           34299 non-null  uint8
 12  AFFILIATION_CompanySponsored  34299 non-null  uint8
 13  AFFILIATION_Family/Parent     34299 non-null  uint8
 14  AFFILIATION_Independent       34299 non-null  uint8
 15  AFFILIATION_National          34299 non-null  uint8
 16  AFFILIATION_Other             34299 non-null  uint8
 17  AFFILIATION_Regional          34299 non-null  uint8
 18  CLASSIFICATION_C1000          34299 non-null  uint8
 19  CLASSIFICATION_C1200          34299 non-null  uint8
 20  CLASSIFICATION_C2000          34299 non-null  uint8
 21  CLASSIFICATION_C2100          34299 non-null  uint8
 22  CLASSIFICATION_C3000          34299 non-null  uint8
 23  CLASSIFICATION_Other          34299 non-null  uint8
 24  USE_CASE_CommunityServ        34299 non-null  uint8
 25  USE_CASE_Heathcare            34299 non-null  uint8
 26  USE_CASE_Other                34299 non-null  uint8
 27  USE_CASE_Preservation         34299 non-null  uint8
 28  USE_CASE_ProductDev           34299 non-null  uint8
 29  ORGANIZATION_Association      34299 non-null  uint8
 30  ORGANIZATION_Co-operative     34299 non-null  uint8
 31  ORGANIZATION_Corporation      34299 non-null  uint8
 32  ORGANIZATION_Trust            34299 non-null  uint8
 33  INCOME_AMT_0                  34299 non-null  uint8
 34  INCOME_AMT_1-9999             34299 non-null  uint8
 35  INCOME_AMT_10000-24999        34299 non-null  uint8
 36  INCOME_AMT_100000-499999      34299 non-null  uint8
 37  INCOME_AMT_10M-50M            34299 non-null  uint8
 38  INCOME_AMT_1M-5M              34299 non-null  uint8
 39  INCOME_AMT_25000-99999        34299 non-null  uint8
 40  INCOME_AMT_50M+               34299 non-null  uint8
 41  INCOME_AMT_5M-10M             34299 non-null  uint8
 42  SPECIAL_CONSIDERATIONS_N      34299 non-null  uint8
 43  SPECIAL_CONSIDERATIONS_Y      34299 non-null  uint8
dtypes: int64(3), uint8(41)
memory usage: 2.1 MB

In [43]:
# Split our preprocessed data into our features and target arrays
y = converted_df['IS_SUCCESSFUL']
X = converted_df.drop(columns='IS_SUCCESSFUL', axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [44]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [53]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

features = X_train.shape[1]

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation='relu', input_dim=features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=32, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                2816

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 4,929
Trainable params: 4,929
Non-trainable params: 0
_________________________________________________________________

In [54]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [55]:
# Train the model
checkpoint = tf.keras.callbacks.ModelCheckpoint("model_weights.h5", save_weights_only=True, period=5)
nn.fit(X_train, y_train, epochs=25, batch_size=32, callbacks=[checkpoint])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

Epoch 1/25
804/804 [==============================] - 2s 2ms/step - loss: 46870.1914 - accuracy: 0.4925
Epoch 2/25
804/804 [==============================] - 2s 2ms/step - loss: 70948.2422 - accuracy: 0.4972
Epoch 3/25
804/804 [==============================] - 2s 2ms/step - loss: 46360.9258 - accuracy: 0.4998
Epoch 4/25
804/804 [==============================] - 2s 2ms/step - loss: 13620.6445 - accuracy: 0.5191
Epoch 5/25
804/804 [==============================] - 2s 2ms/step - loss: 12470.4385 - accuracy: 0.5066
Epoch 6/25
804/804 [==============================] - 2s 2ms/step - loss: 21125.2637 - accuracy: 0.4991
Epoch 7/25
804/804 [==============================] - 2s 3ms/step - loss: 13671.1426 - accuracy: 0.4986
Epoch 8/25
804/804 [==============================] - 2s 2ms/step - loss: 7046.5439 - accuracy: 0.5160
Epoch 9/25
804/804 [==============================] - 2s 2ms/step - loss: 18778.6152 - accuracy: 0.4872
Epoch 10/25
804/804 [==============================] - 2s 2ms/step - loss: 7162.4434 - accuracy: 0.5109
Epoch 11/25
804/804 [==============================] - 2s 2ms/step - loss: 8356.8096 - accuracy: 0.4846
Epoch 12/25
804/804 [==============================] - 2s 2ms/step - loss: 2102.8398 - accuracy: 0.5031
Epoch 13/25
804/804 [==============================] - 2s 2ms/step - loss: 5512.0688 - accuracy: 0.5008
Epoch 14/25
804/804 [==============================] - 2s 2ms/step - loss: 4383.3701 - accuracy: 0.5099
Epoch 15/25
804/804 [==============================] - 2s 3ms/step - loss: 4115.6206 - accuracy: 0.5136
Epoch 16/25
804/804 [==============================] - 2s 2ms/step - loss: 3082.8459 - accuracy: 0.5114
Epoch 17/25
804/804 [==============================] - 2s 2ms/step - loss: 2760.9771 - accuracy: 0.5006
Epoch 18/25
804/804 [==============================] - 2s 2ms/step - loss: 823.2946 - accuracy: 0.5368
Epoch 19/25
804/804 [==============================] - 2s 2ms/step - loss: 1163.4420 - accuracy: 0.5138
Epoch 20/25
804/804 [==============================] - 2s 2ms/step - loss: 961.4659 - accuracy: 0.5045
Epoch 21/25
804/804 [==============================] - 2s 2ms/step - loss: 936.3345 - accuracy: 0.5170
Epoch 22/25
804/804 [==============================] - 2s 3ms/step - loss: 538.4627 - accuracy: 0.5094
Epoch 23/25
804/804 [==============================] - 2s 2ms/step - loss: 542.1255 - accuracy: 0.5247
Epoch 24/25
804/804 [==============================] - 2s 2ms/step - loss: 103.0877 - accuracy: 0.5263
Epoch 25/25
804/804 [==============================] - 2s 2ms/step - loss: 7.0496 - accuracy: 0.5512

In [56]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.9798 - accuracy: 0.5642 - 465ms/epoch - 2ms/step
Loss: 0.9798051714897156, Accuracy: 0.5641982555389404

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")